body {
  margin: 0;
  padding :0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 247, 244);
}
.navbarspan span{
  font-size: 35px;
  font-style: italic;
  color:rgb(168, 10, 113);
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}
.navbarspan{
  font-size:25px;
  font-style:italic;
  font-weight: 700;
  color:rgb(156, 11, 105);
  font-family: 'Courier New', Courier, monospace;
}
i{
  cursor: pointer;
}
.emojicss{
  font-size: 25px;
  animation: move 2s infinite;
  /* color:aquamarine; */
}
.navanimationcss{
  animation:navmove 420ms ease-in;
}
@keyframes move{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes navmove{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}